[2020-12-30 05:00] IRonicBruh opened #1 "Crash with Quark + Quark Oddities"
Game fails to load when vein mining is added with quark. Game boots fine without vein mining.

Crash Report: https://gist.github.com/IRonicBruh/596b88c1bdcd50e7fc32fd2eaa71b8de

[2020-12-30 05:01] IRonicBruh opened #2 "Crash With Quark"
Game fails to load

Crash Report: https://gist.github.com/IRonicBruh/596b88c1bdcd50e7fc32fd2eaa71b8de

[2020-12-30 05:01] #2 closed

[2020-12-30 05:50] #1 closed

[2021-01-09 18:03] tombl opened #3 "Server only usage"
The fabric version of this mod works almost perfectly when only installed on the server, but not the client, with only 1 flaw. The lang file defining the name of the enchantment only exists on the server, so the enchantment shows up as a blank line in tooltips.

[2021-01-09 18:04] tombl commented on #3
I think I've found a library called [Fabric-Server-Enchantments](https://github.com/Szum123321/Fabric-Server-Enchantments) which might be useful to make this work on the server only.

[2021-01-10 15:58] TheIllusiveC4 commented on #3
I've thought about it and unfortunately I've decided not to support server-only implementations. It's a can of worms that I don't wish to open regarding syncing, since registries are coded to work from both sides, and, although it's possible, the foreseeable solutions are a bit too hacky and incomplete for my liking.

[2021-01-10 15:58] #3 closed

[2021-01-12 02:53] superon opened #5 "possibly enchantless - suggestion"
wondering if you'd consider adding the option to have this work without the need for the enchant to be added to a tool

[2021-01-12 04:59] TheIllusiveC4 commented on #5
While this isn't strictly in the spirit of the mod, and there are other vein mining alternatives that may fit your preferences more closely, it's already possible to accomplish this. The `maxBlocksBase` and `maxDistanceBase` config options govern how much vein mining a player can achieve without the enchantment. If you wish to disable the enchantment entirely, you can also do this through the ench

[2021-01-12 04:59] #5 closed

[2021-01-12 12:11] superon commented on #5
ahhh yes, fantastic, i had actually already tried this but just didn't realised it'd need a restart :) other option don't behave quite the same way so this suits my purposes very well thankyou

[2021-02-01 15:46] Gbergz opened #7 "[Suggestion] Add a keybind for VeinMining activation. (config option for sneak or keybind.)"
Title^

A QOL addition.

**-** Gbergz

[2021-02-01 15:47] 64thParaDux commented on #7
This would save manya bases and also many poor souls from falling into lava. I approve!

[2021-02-01 23:02] TheIllusiveC4 commented on #7
So how would this work in practice? Would it only work while you are holding down the keybind, or would you use the keybind to activate/deactivate the behavior?

[2021-02-01 23:38] Gbergz commented on #7
While you're holding down the keybind.

[2021-02-02 06:04] TheIllusiveC4 commented on #7
Is there much difference between this proposed keybind and the current configuration option that allows you to activate it only while sneaking? It's very similar to having a keybind, it's just that it's also tied to sneaking.

I'm mainly asking that because making an actual keybind for this is trickier than it sounds and I'm not sure solely being able to choose a different keybind than sneaking is

[2021-02-02 09:13] Gbergz commented on #7
The problem with sneak activation is that sometimes you justwanna sneak to reach and mine something without falling off a block, or you're just sneaking while mining to be safe and to not fall in lava etc. And when you do that you accidentally activate Vein Mining without thinking about it(done it multiple times already).

That can be very annoying. That's why choosing a different keybind can be v

[2021-02-17 10:20] 64thParaDux commented on #7
No one likes to crouch and delete half there base when they just didn't want to fall.

[2021-03-09 04:46] zanecek commented on #7
Vein mining while pressing the optional key instead of pressing shift is an excellent improvement, I vote for!

[2021-03-10 03:07] TheIllusiveC4 commented on #7
Just a quick update, I have decided on implementing this feature. I just need to find the time to do it since it's somewhat non-trivial.

[2021-03-10 20:09] Omni35 opened #8 "[Suggestion] Tetra compatibility"
Hello, I was wondering if it's possible to make this enchantment work with tools from the mod "Tetra".

Currently, this enchantment cannot be applied in either the anvil or the Tetra workbench once a tool has been modified by that mod, although I'm unsure whether I should request this compatibility here or at the Tetra GitHub. Please correct me if it's the wrong place to ask this.

[2021-03-11 00:09] TheIllusiveC4 commented on #8
I'm also unsure whether this is done on my end or Tetra's, but I'll look into it.

[2021-03-11 19:45] aGingerThing opened #9 "whitelisting"
when I try to turn the word from blacklist to whitelist in the config it just disables vein mining any block instead of whitelisting all the blocks that are listed.

[2021-03-11 23:00] TheIllusiveC4 commented on #9
Please share your config settings.

[2021-03-11 23:31] TheIllusiveC4 commented on #9
I've also just tested this myself and can confirm that the whitelisting configuration option is working as expected.

[2021-03-12 14:57] aGingerThing commented on #9
https://pastebin.com/iSzDyaJV there is the config content

[2021-03-12 15:09] TheIllusiveC4 commented on #9
[code]

Your whitelisted blocks are empty, so that's why it's not applying to anything.

[2021-03-12 15:09] #9 closed

[2021-03-12 15:40] aGingerThing commented on #9
did work. this is what I changed it too https://pastebin.com/SMkyMT8z

[2021-03-12 16:28] TheIllusiveC4 commented on #9
Yes, you have to wrap each entry in quotation marks.

Example:
[code]

[2021-03-12 18:47] aGingerThing commented on #9
Thanks, it worked, and thank you for helping.

[2021-03-12 18:47] aGingerThing commented on #9
Thanks, it worked, and thank you for helping.

[2021-03-13 19:23] aGingerThing opened #10 "[suggestion] examples."
I have noticed there are a lot of people saying things like "how do I get it to only work on ores" or "how do I stop it from working on stone".

I think it would be really helpful if you just added an example block to the whitelist/blacklist section or you could even add presets like ores only or trees only.

[2021-03-13 19:52] callmejay758 opened #11 "VeinMining Duplicates Connected Drawers"
Vein mining drawers from storage drawers (as well as the addon mod framed compacting drawers) **duplicates the drawers as well as their contents.** Instead of breaking all connected drawers, **it breaks one, and gives the result as if it vein mined** (e.g vein mining 5 drawers break's 1 drawer but drops 5 drawers.). I tested this with just storage drawers and veinmining (along with jei and kubejs)

[2021-03-13 21:23] TheIllusiveC4 commented on #10
I can't really add anything to the list themselves, otherwise it'll apply the behavior automatically. All I can do is maybe add something to the comments, or make a wiki page with some examples.

[2021-03-16 20:27] #11 closed

[2021-03-16 20:27] #7 closed

[2021-03-16 20:40] TheIllusiveC4 commented on #7
Heads up for those on the Forge version:

Because of the changes needed to accomplish this smoothly, the `activationState` config option has been moved to a new client-side configuration file `veinmining-client.toml`. It's located in the `configs` folder in the root folder.

[2021-03-18 17:18] TheIllusiveC4 commented on #10
I've added a wiki page about the configuration and provided an example for "ores only".

[2021-03-18 17:18] #10 closed

[2021-03-20 06:03] Weedoof opened #12 "Redstone ore can't be vein mined if effective tool is required."
As the title.
If 'require effective tool' is set to true in the server config, it breaks redstone ore and makes it not vein-minable like most other ores.
I'm not sure if it's related to redstone ore being lit / unlit, as lighting a few blocks of it before attempting to vein mine doesn't help.

Tested this on the latest version, v0.9, but I noticed it in 0.8 as well.

[2021-03-20 16:47] #12 closed

[2021-03-20 19:24] Weedoof commented on #12
thank you :)

[2021-04-03 20:37] aGingerThing commented on #10
cool that'll probably do

[2021-04-07 05:05] TheIllusiveC4 opened #13 "Vein Mining as a Tinkers' modifier"
With Tinkers' 1.16 in alpha, it would be good to look into adding the enchantment mechanics as a modifier since Tinkers' tools cannot be enchanted. This is probably pretty easy to accomplish, although the fact that Vein Mining can have a configurable number of levels could be a point of complication.

[2021-04-15 15:22] RepoDraghon opened #14 "It wont activate for me. 1.16.4"
I'm sorry if this has been mentioned before, I tried a search but didn't see it. I added this to what is technically the Direwolf20 1.16 pack but since it's not on the CurseForge app and only on the FTB app, I found all the mods and just created the mod pack on Curse...
I know the mod is designed for 1.16.5 but I have other mods that are for 1.16.5 that work on 1.16.4 so this isn't really I want t

[2021-04-15 16:38] TheIllusiveC4 commented on #14
Did you make sure the tool was enchanted with Vein Mining when you tested it?

[2021-04-16 00:23] #14 closed, assigned to TheIllusiveC4

[2021-04-16 00:24] RepoDraghon commented on #14
I didn't realize this was not the typical Veinminer by Portablejim that I use... Sorry, yes, I was not using the enchant...

[2021-05-16 16:57] DSchougaard opened #15 "[Suggestion] Quark compatability"
Hello

Would it be possible to make the enchant appliable to the Pickarang from the Quark mod?

[2021-05-17 18:18] DSchougaard commented on #15
For what it's worth, a Pickarang can be spawned in with the enchantment using commands and it appears to be working as expected.

Command:
/give @p quark:pickarang{Enchantments:[{id:"veinmining:vein_mining",lvl:1}]} 1

[2021-05-18 05:27] TheIllusiveC4 commented on #15
Yeah, looking at the source code for the Pickarang, I believe everything should work fine. I just need to make it a valid item for the enchantment. Possibly as a config option for additional valid items.

[2021-05-31 13:23] Foozey opened #16 "Suggestion: Add a config option to restrict to specific tools"
Would be nice to prevent the enchantment from being applicable to the axe, shovel, hoe, etc. and only apply to the pickaxe.

[2021-06-01 02:58] Foozey opened #17 "Suggestion: Make the config file be common instead of server-side"
This would avoid the need to keep re-editing it or copying and pasting a previously edited one every time that a new world is created.

[2021-06-01 07:06] TheIllusiveC4 commented on #17
That's what the `defaultconfigs` folder is for. You copy and paste the server config file you want into it and it will copy that one into new worlds instead of generating a new one.

[2021-06-01 07:06] #17 closed, assigned to TheIllusiveC4

[2021-06-01 11:10] Foozey commented on #17
Oh true... forgot about that. Sorry, was tired lol.

[2021-06-03 19:36] iGreenDogs opened #18 "suggestion (to help with OTHER mod compatibilitys)"
Make anything that is not stone
(including)

Not vein-mineable and allow server config to add other things NOT to mine (instead of having what yes to mine hard written into the code)

[2021-06-03 20:19] TheIllusiveC4 commented on #18
I'm not what you mean. Are you talking about a blacklist for blocks that are not vein-mineable? Because you can already do that. Just put `blocksPermission` to `"BLACKLIST"` and `blocks` list to the blocks or tags that you want to disallow.

Edit: Also, the code doesn't hardcode anything at all, which is why the configs are so flexible. The code lets you mine any block by default.

[2021-06-03 20:19] #18 closed, assigned to TheIllusiveC4

[2021-06-05 18:24] Gohirro opened #19 "Changes won't save."
For some reason, the veinmining-client.toml file keeps getting reverted/overwritten to default values, even when saving changes without minecraft (or the launcher) open. How do I add the configs to blacklist stone from being mined up? I can't seem to figure out why it will not keep the saved settings/changes.

[2021-06-05 18:29] Gohirro commented on #19
Here is how the config file is written when I save it:

["vein mining"]
	#Whether to activate vein mining by standing, crouching, or holding down the keybind
	#Allowed Values: STANDING, CROUCHING, KEYBINDING
	activationState = "STANDING"
	blocks = ["#forge:ores"]
	blocksPermission = "WHITELIST"

[2021-06-05 19:24] TheIllusiveC4 commented on #19
Have you confused the `veinmining-client.toml` file with the `veinmining-server.toml` file in your world save's `serverconfigs` folder? The latter is what you need to edit in order to change block permissions. Trying to add values to the former will reset them because that's not what the client config is used for.

[2021-06-05 20:24] Gohirro commented on #19
The only file is the client one, its the one I am trying to edit. This is in the root config folder: veinmining-client.toml.

[2021-06-05 20:29] Gohirro commented on #19
Okay, so I found the problem. I hosted my SP game over LAN to do some testing with once. I just edited the server config file and sure enough, that did the trick. So I guess that it is using the server file even though its single player for some reason.

[2021-06-05 20:29] Gohirro commented on #19
Oh wait, you already mentioned that. Thanks for the quick reply.

[2021-06-05 20:29] #19 closed, assigned to TheIllusiveC4

[2021-06-12 19:46] revdave33 opened #20 "Config file keeps getting overriden"
veinmining-fabric-0.0.8-1.17
Fabric 0.11.3

I try to make some configuration changes in the config/veinmining.json5 and when I start up Fabric, my changes get overriden so I am unable to make any configuration changes.

[2021-06-12 19:52] TheIllusiveC4 commented on #20
I can't reproduce this, the configuration file works fine for me. What's your modlist? Do you have Cloth Config installed?

[2021-06-12 22:10] revdave33 commented on #20
Yes, I do. Cloth config 5.0.34

[2021-06-12 22:51] TheIllusiveC4 commented on #20
What does your configuration file look like? When you edit it, before it gets overridden.

[2021-06-13 06:22] DeJayDev opened #21 "Restrict VeinMining to only ores"
Hi,

As mentioned in the Title, a method to force the default veinminer to only break items of an ore type (generically, think anything with a registry name that ends with _ore) would help "balance" the veinminer.

<sup>We're also noticing the block finding logic causing lag spikes</sup>

If I'm simply misunderstanding how the config works, here is the relevant section from my config (still mostly

[2021-06-13 18:12] TheIllusiveC4 commented on #21
You need to change the `blocksPermission` to `"WHITELIST"` and add the block types to the `blocks` list as outlined here:
https://github.com/TheIllusiveC4/VeinMining/wiki/Configuration#ores-only

[2021-06-13 18:13] TheIllusiveC4 commented on #21
You'll have to give me more information about when these lag spikes and how often in order for me to investigate. In addition, I'll need to see your entire configuration file.

[2021-06-14 16:09] revdave33 commented on #20
It was fixed on the latest updates

[2021-06-14 16:09] #20 closed, assigned to TheIllusiveC4

[2021-06-15 21:23] DeJayDev commented on #21
I haven't been able to reproduce the lag spikes, but regardless the above configuration isn't working for Nether Quartz.

I have a suspicion it has to do with Quartz not setting a good effective tool.

[code]

[2021-06-15 22:19] TheIllusiveC4 commented on #21
Wow, what a strange issue. You're right, Nether Quartz Ore does not have an effective tool. The really strange part is that it's the _only_ ore that isn't listed in the `PickaxeItem`'s effective blocks list, even though the very similar Nether Gold Ore is. I can't help but think this is an oversight, I'm not sure why else this would be the case.

Regardless, I think I can probably code a workaroun

[2021-06-15 22:29] DeJayDev commented on #21
Let me know what you think?

Worst case I have a mod that I've been fixing bugs with and I can probably fix it with some mixin love. The issue is it's a modpack, so the fixed version would have to be able to be installed on the server only and not have the client freak out.

[2021-06-15 22:41] TheIllusiveC4 commented on #21
Well if it comes down to it I can just fix it with mixin myself and have it in the mod natively, as this is behavior that I ought to fix universally since quartz ores rightly should be able to count pickaxes as effective tools.

[2021-06-15 23:00] #21 closed, assigned to TheIllusiveC4

[2021-06-15 23:02] TheIllusiveC4 commented on #21
Alright figured out a way to fix it by using the Forge hook instead of my previous logic, which should be more complete in its checks. Try out version 0.11 once it's approved on CurseForge and let me know how it works out.

[2021-06-21 10:21] Guernica520 commented on #15
I would also love this feature to be added to the pickerang

[2021-06-22 10:47] #15 closed, assigned to TheIllusiveC4

[2021-06-22 10:47] #16 closed, assigned to TheIllusiveC4

[2021-06-23 00:23] AquaLawng opened #22 "Activation Type Won't Change"
Fabric Minecraft 1.17

Holding the activation key, such as crouch, performs the opposite.

Mining without sneaking automatically veinmines
Mining while sneaking disables veinmines.

veinmining.json5 as follows:
// Whether to activate vein mining by standing, crouching, or holding down the keybind
"activationState": "KEYBINDING",

Changing local settings using Mod Menu does nothing, not even sure i

[2021-06-23 05:34] TheIllusiveC4 commented on #22
I cannot reproduce this, the activation key works correctly for me. Please provide your versions for Cloth Config and Mod Menu. In addition, make sure that you either leave and re-enter your world or execute the `/reload` command if making config changes while in a world/server.

[2021-06-23 11:19] AquaLawng commented on #22
I should also clarify that this issue is happening on a server I am running for my friends and me. I have the mod on both client and server side, not sure if that's correct.

Cloth Config 5.0.34 (Client)
Mod Menu 2.0.2 (Client)

[2021-06-23 17:47] TheIllusiveC4 commented on #22
Are you changing the configs client or server-side?

[2021-06-23 17:55] AquaLawng commented on #22
I have tried changing the config for just client side, just server side,
and both.

I have even tried a new world, new client instance, and new server config
file.

Same result.

Also, it functions correctly in a single player world.

On Wed., Jun. 23, 2021, 1:47 p.m. TheIllusiveC4, ***@***.***>
wrote:

[2021-06-23 23:22] AquaLawng commented on #22
I've done some more testing.

- Deleted the server config file to start fresh.
- Using a tool with the vein mine chat on stone vein mines it.
- Edit server config file from "blacklist" to "whitelist"- Add "#c:ores"
- Restart server
- Now, mining stone does not vein mine.
- Edit server config from "standing" to "keybinding"
- Restart server
- It still vein mines while standing, not when crouching
(

[2021-06-24 03:11] TheIllusiveC4 commented on #22
Just making sure, if you do all of that and change the CLIENT config from "STANDING" to "KEYBINDING", does it still not work?

[2021-06-24 05:11] OneWithWind opened #23 "Config doesnt save"
my full config is here

{
	"enchantment": {
		// The rarity of the enchantment
		"rarity": "RARE",
		// The number of levels of the enchantment
		"levels": 1,
		// Whether or not to consider this enchantment as a treasure
		"isTreasure": false,
		// Whether or not this enchantment can be randomly selected for enchanting
		"isRandomlySelectable": true,
		// Whether or not this enchantment is availa

[2021-06-24 06:03] TheIllusiveC4 commented on #23
Vein Mining version?

[2021-06-24 06:47] OneWithWind commented on #23
0.0.9 1.17

[2021-06-24 10:21] AquaLawng commented on #22
Clientside was set to KEYBINDING through all of the above steps

[2021-06-25 01:29] TheIllusiveC4 commented on #23
Activation state should be `"KEYBINDING"`, not what you currently have.

If that doesn't fix it, send me your `latest.log` file.

[2021-06-25 01:35] TheIllusiveC4 commented on #22
Okay I think I know what's wrong. The config isn't properly read client-side, which will cause the activation type to always stay the same because it's only checked client-side (so changing the configs server-side won't do anything either). It'll be fixed in the next update.

[2021-06-25 14:18] AquaLawng commented on #22
That's great to hear, looking forward to test it out. How is it supposed to work when used on a server? Is the server side config the default?

[2021-06-26 07:59] TheIllusiveC4 commented on #22
Well, essentially, every other value is read from the server so everything else _should_ work server-side only. It's just the activation state that is read client-side that is affected.

[2021-06-27 07:20] #22 closed, assigned to TheIllusiveC4

[2021-06-29 01:42] OneWithWind commented on #23
sorry for taking so long, but that fixed my issue thanks so much. its keeping my settings now that i corrected it to KEYBINDING. Thank you!!

[2021-06-29 02:09] #23 closed, assigned to TheIllusiveC4

[2021-07-11 19:45] Kabrasaki opened #24 "Better Minecraft 1.16.5 versin"
Vein miner has only worked once and it was when i broke a tree . After that no matter how much i tried and changed from standing to crounching to key binding it just won't work. I tried to go trough the command way but it tells me there are no commands, what should i do?

[2021-07-11 21:18] TheIllusiveC4 commented on #24
There are no commands in this mod.

Tell me your Vein Mining version and Forge/Fabric version (i.e. not just 1.16.5, I need the specific file version you're using).

In addition, show me your configuration file.

[2021-07-13 19:36] yoksoman commented on #24
i got the same my vein miner is 1.16.5-012

[2021-07-13 20:24] TheIllusiveC4 commented on #24
Show me your configuration file and list out the steps to reproduce your issue.

[2021-07-14 15:55] yoksoman commented on #24
do you have discord?

[2021-07-14 15:55] yoksoman commented on #24
add me than we can talk yoksoman #2985

[2021-07-14 21:16] TheIllusiveC4 commented on #24
I have a Discord server you can join: https://discord.gg/JWgrdwt

However, I'd prefer if we discussed it here on GitHub for the sake of proper bug report archiving.

[2021-08-02 23:51] HowardRoark2016 opened #25 "Vein mining not working in Better Minecraft (Fabric) 1.17"
I can't get vein miner to work. I am using Windows 10 v20H2 and Java 16.0.2 while playing Better Minecraft (Fabric) 1.17 using "fabric-0.11.6" and "veinmining-fabric-0.0.10-1.17". I have set a key to activate vein mining (using the grave key). Vein mining worked strangely on the first tree I punched. It broke one log on the first attempt, but not the log I was looking at which remained visually in

[2021-08-03 03:48] kiandrewh opened #26 "vein minerbroken better minecraft"
in 1.16.5 better minecraft and better minecraft plus the vein miner enchant makes vein miner always on regardless of the config options i have it set to

[2021-08-03 03:56] kiandrewh commented on #26
nvm it just required a restart

[2021-08-03 03:56] #26 closed, assigned to nobody

[2021-08-03 06:50] #25 closed, assigned to nobody

[2021-08-03 10:04] imeangay opened #27 "Can't add #forge:ores or it crashes my game."
I can't add the exclusion to only mine ores with the mod or my game crashes, here's my config.

`
[enchantment]
	#Whether or not this enchantment can be applied on books
	canApplyOnBooks = true
	#The minimum enchantability requirement for the first enchantment level
	#Range: 1 ~ 100
	minEnchantabilityBase = 15
	#Whether or not to consider this enchantment as a treasure
	isTreasure = false
	#List o

[2021-08-03 18:51] TheIllusiveC4 commented on #27
You don't have quotation marks around the entry. It should be `blocks = ["#forge:ores"]`.

[2021-08-03 18:51] #27 closed, assigned to TheIllusiveC4

[2021-08-03 22:28] Skorpan2006 opened #28 "stop working sometimes"
I got a problem when I use vein mining it stops working and I have to configure again every time pleas fix it

[2021-08-04 06:02] TheIllusiveC4 commented on #28
Show me your configuration file and a list of steps to reproduce the issue. Also, state which version you're using and on what mod loader.

[2021-08-19 19:21] Kullich opened #29 "Configuration in mod setting doesn't work on Multiplayer"
Hi,

I'm playing with friend on our private server and if i want to change configuration for veinming i can but  nothing happened, whatever i select it allways veinmine while i'm standing, want to hold keybind to veinmine otherwise don't want it.

But for my friend work perfectly fine.

We are playing on v35 lastest version.

Here is my configuration.

[code]

It worked in other versions but not t

[2021-08-19 19:43] TheIllusiveC4 commented on #29
Latest version of what? Vein Mining only goes up to 0.12 on Forge. What is your Vein Mining version?

Also, which config file exactly are you changing?

[2021-08-19 19:49] Kullich commented on #29
Ah sorry mb i wrote version of modpack 😅

yeah we are on version 0.12 and I’m changing only client config,  can’t see other config for veinmining probably I’m just blind

[2021-08-19 20:01] TheIllusiveC4 commented on #29
And you're sure you're only changing the one on your own client right? Not any of the configs on the server?

[2021-08-19 20:03] TheIllusiveC4 commented on #29
Also, try restarting your client when you make the change, re-check the client config for the correct value, and then loading up into your server again.

[2021-08-19 20:04] Kullich commented on #29
Yes i’m changing only client config. After changing I look to my client config and it changes and i don’t have access to config on server side

[2021-08-19 20:12] TheIllusiveC4 commented on #29
Just making sure, does both the server and your client have the 0.12 version of Vein Mining installed?

[2021-08-19 20:15] Kullich commented on #29
Yes, my friend said both version are the same. For him it’s working perfectly fine.

[2021-08-19 20:39] TheIllusiveC4 commented on #29
That's weird that it would be different between you two. Are you and your friend doing the exact same thing? He changed his client config as well to `KEYBINDING` and his works?

[2021-08-19 20:45] Kullich commented on #29
Ye it’s weird, he changed his client config to `KEYBINDING` and works only if he holding that keybind. But for me working every time When I mine something and  if I’m holding shift it will breaks only one block

[2021-08-19 21:00] TheIllusiveC4 commented on #29
Is this server located remotely or is it on his physical computer?

[2021-08-19 21:09] Kullich commented on #29
Server is remotely located

[2021-08-19 21:29] TheIllusiveC4 commented on #29
Hmm, very strange. Honestly, it sounds like you're doing _something_ incorrectly on your end because if the server is located remotely, then your friend would be under the exact same conditions as you are but he managed to get it working. However, I'm not sure what the problem is exactly because, as you've described it, it sounds like you're doing everything correctly.

Can you share your `veinmin

[2021-08-20 08:48] Kullich commented on #29
Can't upload it here but inside this file is only
`
["vein mining"]
	#Whether to activate vein mining by standing, crouching, or holding down the keybind
	#Allowed Values: STANDING, CROUCHING, KEYBINDING
	activationState = "KEYBINDING"
`

And now i know where was the problem... i have 2 versions of that modpack after removing one work perfectly fine. I didn't think this would be a problem.

Anyway

[2021-08-20 19:40] TheIllusiveC4 commented on #29
Oh, okay, I'll close this issue then if it's working now.

[2021-08-20 19:40] #29 closed, assigned to TheIllusiveC4

[2021-08-20 23:36] EnvoFN opened #30 ".json5 config file missing"
I cannot seem to find  the config file for this mod (for fabric), any help?

[2021-08-21 01:11] TheIllusiveC4 commented on #30
Do you have Cloth Config (Fabric) installed?

[2021-09-13 21:30] CplPibald opened #31 "[Suggestion] Add possible values for rarity to config text"
When editing the config file on a server, there is this setting:
[code]
It is not clear to the person editing the file what text strings are valid in this field.

As far as I can tell, the possible values are the Rarity values listed in the source code of `net\minecraft\enchantment\Enchantment.java`, but most server owners won't go to the MC source code.

Suggestion is to add the possible values t

[2021-09-24 08:57] TheIllusiveC4 commented on #13
I've decided that this is a little too awkward to implement given the existence of Tinkers' native Vein Mining hammer. It feels like a subversion of Tinkers' intended mechanics, despite the fact that it would be meant as an integration feature.

[2021-09-24 08:57] #13 closed, assigned to TheIllusiveC4

[2021-10-24 00:12] SHXRKIEgg commented on #24
Creator of Better MC here, we have a mod that cuts whole trees down so this person is confused with your mod and doesn't actually know its an enchant you need and therefore why its not working on other things.

[2021-10-24 02:41] TheIllusiveC4 commented on #24
Alright then, thanks for the info. I'll close this issue then.

[2021-10-24 02:41] #24 closed, assigned to TheIllusiveC4

[2021-11-05 17:50] laforcem opened #32 "[Bug]: preventToolDestruction flag not protecting tools from breaking"
### Minecraft Version

1.16.5

### What happened?

I was testing out the Vein Mining mod in my custom modpack (roughly 83 mods or so). I noticed that even with `preventToolDestruction` set to `true` in the config file, and the pickaxe enchanted with Vein Mining, it still broke after mining a vein. I turned off all other mods and tried it again and the issue persists.

### How do you trigger this b

[2021-11-09 05:33] #32 closed, assigned to TheIllusiveC4

[2021-11-09 07:25] #31 closed, assigned to TheIllusiveC4

[2021-11-11 08:47] toffi3 opened #33 "[Bug]: Vein Mining book can't be applied at all"
### Minecraft Version

1.16.5

### What happened?

As in the title
My config is here: https://pastebin.com/zW92U7jB
And here is the screenshot

![2021-11-11_09 48 34](https://user-images.githubusercontent.com/84127414/141267081-415ca969-ffc3-479a-83d9-390072ddcec9.png)

### How do you trigger this bug?

Don't think that's a mod conflict

### Loader

Forge

### Loader Version

Forge 36.2.8

### Mod

[2021-11-12 10:31] #33 closed, assigned to TheIllusiveC4

[2021-11-20 22:56] LeoraKnight opened #34 "[Bug]:"
### Minecraft Version

1.17.1

### What happened?

How can I get this to work with deepslate and tuff ore? It doesnt seem to word with these with my current config.

### How do you trigger this bug?

Config

[enchantment]
	#Whether or not this enchantment can be applied on books
	canApplyOnBooks = true
	#The minimum enchantability requirement for the first enchantment level
	#Range: 1 ~ 100
	minEn

[2021-11-21 02:36] TheIllusiveC4 commented on #34
[code]

Most likely the ores are not tagged under these categories. You'll have to either add the ore names directly or add them to the `#forge:ores` tag.

[2021-11-28 20:30] bowsmin12 opened #35 "[Bug]: Game Crashes While Loading A World"
### Minecraft Version

1.17.1

### What happened?

I have a small to medium sized fabric modpack going. So I am unsure if it's conflicting with another mod or if it's vein miner it's self. When I install the mod everything works properly until the world loads 100% then it comes up with this crash message: The game crashed whilst exception in server tick loop
Error: java.lang.StringIndexOutOfBounds

[2021-11-28 22:24] TheIllusiveC4 commented on #35
It looks like something went wrong with your config file. Did you edit it in any way? Can you share your config file?

[2021-11-28 23:21] bowsmin12 commented on #35
Honestly don't know how to get to the config file. I have the Mod menu mod I think that allows you to change settings there otherwise I don't know how to change them anywhere else.

[2021-11-28 23:41] TheIllusiveC4 commented on #35
It's in the `config` folder of your Minecraft instance, `veinmining.json5`.

[2021-11-29 03:37] bowsmin12 commented on #35
I've found the file and opened it with notepad. I don't know what I'm looking for though, so I'll copy paste. Sorry if this isn't helpful.
{
	"enchantment": {
		// The rarity of the enchantment ("COMMON", "UNCOMMON", "RARE", "VERY_RARE")
		"rarity": "RARE",
		// The number of levels of the enchantment
		"levels": 1,
		// Whether or not to consider this enchantment as a treasure
		"isTreasure": fal

[2021-11-29 04:00] TheIllusiveC4 commented on #35
You have an empty value in your `"groups"` for some reason. This should be filling out by default. Did you change this value at some point?

[2021-11-29 04:33] bowsmin12 commented on #35
I think I pressed the reset button in the Mod menu. The issue was still happening before doing that because I did this in response to the crashes. I attempted to put stone on the blacklist and thought that might have been part of the reason for the crashes for whatever reason. So I think I ended up pressing both resets one way or another.

[2021-11-29 05:17] TheIllusiveC4 commented on #35
Alright, try deleting the config file and then loading the game up again so it generates a new one. Don't change anything in the config file before reporting back.

[2021-11-29 05:43] bowsmin12 commented on #35
Well I deleted the json file and had to reinstall the mod. (I deleted it to play the rest of the pack while figuring this out) Everything seems to work now even with the few changes I've made to the config after. While I have your attention if you could help me a little more.(whenever you have time) I'm confused on what I should put for the blacklist. Lets say I wanted to put stone on the blacklis

[2021-11-29 05:52] TheIllusiveC4 commented on #35
Like this:
[code]

[2021-11-29 05:53] #35 closed, assigned to TheIllusiveC4

[2021-12-16 20:34] Patrigan opened #36 "Infinite loop when attaching a capability based on enchantability"
### Minecraft Version

1.16.5

### What happened?

Code between yours and mine is triggering an infinite loop. I have a capability that attaches itself to any item that can be enchanted, your VeinminigEnchantment creates a new ItemStack whenever it tests if it can enchant an item, which in turn will cause forge to check for capabilities again (every time an itemstack is created).

I suggest you ch

[2021-12-16 23:24] TheIllusiveC4 commented on #36
Yeah that makes sense, I'll see what I can do about this.

[2021-12-17 01:23] #36 closed, assigned to TheIllusiveC4

[2021-12-21 22:53] ZilverLazarus opened #38 "[Bug]: Return of Issue #36, The Infinite Loop"
### Minecraft Version

1.16.5

### What happened?

Upon loading into an existing or new world, the game crashes and gives the crash reason of "Exception in server tick loop".

From my understanding, Vein Mining 1.16.5-0.15 fixed #36 (as listed in the changelog on the CurseForge page), so perhaps something was overlooked?

### How do you trigger this bug?

1. Load the game with Dungeons Libraries (

[2021-12-21 23:04] TheIllusiveC4 commented on #38
Ohhh no, that's a problem.

I did fix the issue between Vein Mining and Dungeon Libraries specifically, but it seems like the issue is coming from Immersive Engineering this time. Not that it's solely their fault, it's just that they're doing something that doesn't play nicely with these other two mods involved and I should probably have accounted for that. I'll need to figure something else out f

[2021-12-21 23:27] ZilverLazarus commented on #38
Sounds good. Thanks for the quick response and good luck.

[2021-12-22 04:01] ghost opened #39 "[Bug]: No config what so ever????"
### Minecraft Version

1.18.1

### What happened?

I am very confused. I even checked the wiki on how to config this fabric mod... There is literally no configs for this anywhere. I have cloth for fabric & when i go to C:\Users\deann\AppData\Roaming\.minecraft\config There is no veinminer config file. I even tried searching the file through the search bar with no avail.... And this bug says its fo

[2021-12-22 04:54] TheIllusiveC4 commented on #39
And you're sure you have Cloth Config installed? This mod: https://www.curseforge.com/minecraft/mc-mods/cloth-config

And that you've loaded up the game at least once with it installed?

[2021-12-24 02:46] #38 closed, assigned to TheIllusiveC4

[2021-12-26 21:29] luizfx22 opened #40 "[Bug]: Command doesn't exists"
### Minecraft Version

1.16.5

### What happened?

The command to quickly add more tools and blocks to whitelist doesn't appear on client nor server.

### How do you trigger this bug?

There's no trigger, just installed in a new fresh version and nothing works. (Changed the keybinding though)

### Loader

Forge

### Loader Version

36,2,22

### Mod Version

1,16,5-0,15

### Relevant Log Outputs

_

[2021-12-26 23:13] TheIllusiveC4 commented on #40
This mod doesn't have any native commands. Are you confusing this with another mod?

[2021-12-27 10:43] luizfx22 commented on #40
Probably 😅...
I'm used to VeinMiner, wich doesn't support 1.16.5. Oh, btw I'm having some issues with adding the Chisel blocks into whitelist, blocks like marble (raw), limestone (raw) and basalt (raw). Do you know how to do this?

[2021-12-27 11:44] TheIllusiveC4 commented on #40
You would just add those block ids into the blocks list in the config file.

For more info, here is the wiki page on configuration:
https://github.com/TheIllusiveC4/VeinMining/wiki/Configuration

[2021-12-27 11:44] #40 closed, assigned to TheIllusiveC4

[2021-12-27 23:29] MyYourAll opened #41 "[Bug]: I configurated but it isn't working"
### Minecraft Version

1.18.1

### What happened?

I Installed and configured the mod but it still isn't working.

the situration:
Im playing a modpack with several new ores, but im trying to mine copper with a normal stone pickaxe.

The configuration:

	"enchantment": {
		// The rarity of the enchantment ("COMMON", "UNCOMMON", "RARE", "VERY_RARE")
		"rarity": "RARE",
		// The number of levels of

[2021-12-27 23:32] TheIllusiveC4 commented on #41
Did you try to mine only Copper ore or did you try other ores as well? If so, which other ores did you try to mine?

[2021-12-27 23:33] MyYourAll commented on #41
I Tried Iron, copper, coal, and the ones from the mod like tin, antimony, Nickel

[2021-12-27 23:36] TheIllusiveC4 commented on #41
Is this in single player? Do you have Cloth Config installed?

[2021-12-27 23:41] TheIllusiveC4 commented on #41
Also, here's an error:
[code]
It should be:
[code]

[2021-12-27 23:43] MyYourAll commented on #41
Wow, thanks! I would never find it

[2021-12-28 01:11] TheIllusiveC4 commented on #41
Did that fix your issue?

[2022-01-05 18:34] Spasstimon opened #42 "[Bug]: Mod not working"
### Minecraft Version

1.18.1

### What happened?

**I have the config file but the mod doesn't work, I probably made a mistake. Help.**

{
	"enchantment": {
		// The rarity of the enchantment ("COMMON", "UNCOMMON", "RARE", "VERY_RARE")
		"rarity": "COMMON",
		// The number of levels of the enchantment
		"levels": 3,
		// Whether or not to consider this enchantment as a treasure
		"isTreasure": fa

[2022-01-05 23:14] TheIllusiveC4 commented on #42
When you try to vein mine, what exactly do you do? Please be as specific as possible.

Also, did you make sure to have Cloth Config installed?

[2022-01-06 15:28] chimericdream opened #43 "[Feature]: shaped mining"
### What is the new feature or improvement?

I'd love to have configurable shaped mining, similar to the Ore Excavation mod. I realize that one is still updated on 1.18, but it doesn't work on Fabric, which this one does (thank you!).

I don't know what the LoE would be on this, but hopefully it is relatively straightforward enough to be worth adding.

Thanks!

[2022-01-06 15:48] Spasstimon commented on #42
Started with the activation method "KEYBINDING".
I set my keybinding to the same as crouch (LCTRL), held the key, tried to mine iron and copper with a vanilla stone pickaxe, both just mined normally. Changed the keybind to an unassigned key (In my case "G") and still didn't work.
Then I changed the activation method to "CROUCHING" and it still doesn't work.

[2022-01-06 15:49] Spasstimon commented on #42
And yes I have cloth config installed sorry

[2022-01-07 01:46] TheIllusiveC4 commented on #42
I copied your config file and I tried mining iron ore with a vanilla stone pickaxe while crouching. It works exactly as expected, so your config file is correct at least.

Are you using any other mods? If so, try testing again with only Vein Mining, Cloth Config, and Fabric installed. It could be an unidentified mod conflict.

[2022-01-07 04:43] TheIllusiveC4 commented on #43
To be honest, I'm not really a big fan of configurable shaped mining like that. It seems a little too immersion-breaking and I think it overcomplicates a relatively simple mechanic.

Also, the effort to implement is non-trivial so that has to be part of the consideration.

However, I can see why other people might like to have that kind of feature. I'll try and see if I can figure out a good way t

[2022-01-07 16:54] Spasstimon commented on #42
I realised what was making it not work, I'm a noob to mods so when the description said i needed Cloth Config API, I only installed that one, now that i've installed Cloth API, it works as it should.
Sorry for bothering you and thanks.

[2022-01-07 17:11] chimericdream commented on #43
I can understand that. If it turns out to be a more significant undertaking than you want to spend, especially for a feature you don't particularly like, I can't blame you. Either way, thanks for considering it!

[2022-01-07 18:18] #42 closed, assigned to TheIllusiveC4

[2022-02-03 22:44] CritFlaw opened #44 "[Bug]: Despite config, enchant does not go above II"
### Minecraft Version

1.18.1

### What happened?

When trying to combine 2 vein mining II books, the result is still vein mining II. The config is below:
https://mcpaste.io/a439147c56082a30

### How do you trigger this bug?

1. Get several vein mining 1 books from villager
2. Try combining in an anvil
3. Potentially include this modpack https://drive.google.com/file/d/16kHRbRV1mLADMg1iC04upuTRHJr

[2022-02-04 05:21] JayDo96 commented on #44
I am having the same issue on my private server running forge 1.18

[2022-02-04 05:22] JayDo96 commented on #39
The config should be in your world's folder if its the same as the forge config

[2022-02-05 22:34] TypzVR opened #45 "[Bug]: activate button is used as deactivate button"
### Minecraft Version

1.18.1

### What happened?

When mining a terrain with the pickaxe with Vein Mining on it, it will always be vein mined. To not have this, I need to use the activate button to not veinmine a whole terrain. This is very annoying because this can mess up my world/base/progress and more. I use this on a server, if that helps with anything.

### How do you trigger this bug?

1.

[2022-02-09 15:16] canitzp opened #46 "[Bug]: Freeze on World load"
### Minecraft Version

1.18.1

### What happened?

I just wanted to load  a new world.

I already have spotted the issue, cause like the log I attached at the bottom shows, it is a "ConcurrentModificationException" and I found this code snippet: https://github.com/TheIllusiveC4/VeinMining/blob/1.18.x/forge/src/main/java/top/theillusivec4/veinmining/veinmining/logic/BlockGroups.java#L47-L48
There y

[2022-02-09 22:22] TheIllusiveC4 commented on #46
Huh, that's weird. Certainly the error is pretty clear about its cause, which is what you've pointed out, so I'll work on a fix for that. However, I must be missing something obvious because I can't tell why the CME is occurring. I'm not iterating through the map at all, the only reference to the map is when calling the `merge` method. I'm iterating through an unrelated `HashSet<String>` created f

[2022-02-10 03:37] TheIllusiveC4 commented on #44
I cannot reproduce this bug with Vein Mining by itself, but I can reproduce it with the listed modpack. This suggests that this is a mod conflict. You will have to isolate the mod conflict before I can investigate further.

Edit: I suggest starting by removing any mods that affect enchantments in any way.

[2022-02-10 03:41] TheIllusiveC4 commented on #43
After some consideration, I've decided to decline this feature. It's just a little too much work for a feature I'm not super keen on including to begin with, unfortunately. Thanks for the suggestion though.

[2022-02-10 03:41] #43 closed, assigned to TheIllusiveC4

[2022-02-10 03:42] #30 closed, assigned to TheIllusiveC4

[2022-02-10 03:50] TheIllusiveC4 commented on #45
I cannot reproduce this, setting up the keybindings and everything, the activate button works as it's supposed to (as in, vein mining does not work unless the activate button is held down).

Can you share your config settings? Did you make sure the configs are set correctly on your _client_ also? What are you using as your activation key bind?

[2022-02-10 04:43] #46 closed, assigned to TheIllusiveC4

[2022-02-10 04:45] TheIllusiveC4 commented on #46
I think what's happening is that the config itself is being loaded from multiple threads, which causes the CME to occur. It's hard for me to verify since I cannot reproduce it reliably, but try out the new update and let me know how it goes.

[2022-02-10 11:04] SarahLouise1978 commented on #45
Hello, I'm having the same problem as this, where vein mining is activated as default and the keybind just mines 1 block. I have tried to adjust it in the config files, but it has made no difference! I have used different latters as the keybind. I am using forge 39.0.66 and veinmining 1.18.1-0.16jar.
Thanks

[2022-02-10 11:25] TheIllusiveC4 commented on #45
Okay, what did you adjust exactly in the configuration file? Please show the current settings of your `veinmining-client.toml` file. The `activationState` field should be set to `"KEYBINDING"`.

[2022-02-10 11:37] JayDo96 commented on #44
After doing further testing I have determined it is the apotheosis mod. In it's config it restricts enchantments so make sure you change the max level in apotheosis as well.

[2022-02-10 11:56] SarahLouise1978 commented on #45
Hello, thanks for getting back to me, hope this is helpful

Sent from Yahoo Mail on Android

  On Thu, 10 Feb 2022 at 11:25, ***@***.***> wrote:

Okay, what did you adjust exactly in the configuration file? Please show the current settings of your veinmining-client.toml file. The activationState field should be set to "KEYBINDING".

—
Reply to this email directly, view it on GitHub, or unsubscribe

[2022-02-10 12:30] TheIllusiveC4 commented on #45
If something was supposed to be attached to your email, then I don't see anything. Please try again on GitHub directly.

[2022-02-10 12:59] SarahLouise1978 commented on #45
![16444979480147544992789205043846](https://user-images.githubusercontent.com/57772073/153413211-28822d92-f7c3-440a-b47d-bd31c55e5529.jpg)

I hope that worked!

[2022-02-10 13:54] TheIllusiveC4 commented on #45
Hm, okay, that config looks right then. So if you save the file, then start your game and load up your world, the keybinding does not do anything? Vein Mining still activates by default without pressing anything?

[2022-02-10 14:08] SarahLouise1978 commented on #45
yes thats right!

[2022-02-11 05:11] TheIllusiveC4 commented on #44
Okay, thank you very much for figuring that out. I'll officially conclude that this is just an Apotheosis feature that people should be aware of changing as well.

[2022-02-11 05:11] #44 closed, assigned to TheIllusiveC4

[2022-02-12 06:33] TheIllusiveC4 commented on #45
Hm, unfortunately I cannot reproduce it. Setting the configs in my testing instance to the same as above, the keybinding works correctly. Are you sure you're saving the configuration file and that it's located in the right folder?

[2022-02-12 13:46] xJasper222 opened #47 "[BUG]: Whitelist not working"
### Minecraft Version

1.18.1

### What happened?

I configured the items, added some ores from other mods and it worked but when i wanted to add whitelist so it doesnt destroy everything its not working at all, maybe i did a mistake i dont know help!

### How do you trigger this bug?

1.
2.
3.
...

### Loader

Fabric

### Loader Version

FABRIC API  0.13.1- 1.18.1

### Mod Version

veinmining-fab

[2022-02-12 19:05] KMFrench1 commented on #47
Set you configs to this. It is how I have it set up and it works fine.

"activationState": "CROUCHING",
		// List of whitelisted/blacklisted blocks or block tags
		"blocks": [
			"#c:ores"
		],
		// Whether the blocks configuration is a whitelist or a blacklist ("WHITELIST", "BLACKLIST")
		"blocksPermission": "WHITELIST",

[2022-02-12 21:12] TheIllusiveC4 commented on #47
You should change your config to the one in the comment above, as stated in the wiki as well.

Your issue is that in `"blocks"` you have:
[code]

This is an invalid entry, and probably causing the entire configuration to fail and reset. You cannot copy the entries from `"groups"` into `"blocks"`, they have different formats.

[2022-02-12 21:12] #47 closed, assigned to TheIllusiveC4

[2022-02-13 17:00] xJasper222 commented on #47
When i changed it to it only detects vanilla ores

[2022-02-13 23:00] TheIllusiveC4 commented on #47
It only detects ores that are properly tagged in `c:ores`. Which is vanilla ores, but modded ores may or may not do that. You will need to either add those ores in manually, or make your own datapack that tags the ores properly.

[2022-02-14 11:12] CritFlaw commented on #44
@JayDo96 Thank you very much for going through that. I thought it might've been Apotheosis but didn't get a chance to verify.

[2022-02-21 04:31] SeanOMik opened #48 "[Feature]: Support for ConfigGUI added by forge"
### What is the new feature or improvement?

There should be an option to modify the client's config through the ConfigGUI that was added by forge. It's annoying to have to shut down your game, find and edit the config file, and then start your game back up.

I don't think it would be a difficult thing to implement, but idk the inner workings of this mod, so it might be lol

[2022-02-21 06:36] TheIllusiveC4 commented on #48
Yeah, I'll definitely look into this once I have the time.

[2022-03-01 15:57] SheroxGG opened #49 "[Bug]: Enchanting table not applying the enchants on 1.18"
### Minecraft Version

1.18.1

### What happened?

I have configured the Mod so it has 5 enchantments levels, and each enchantment lvl increase the mined blocks by 2. Thats working fine, but for some reason I cant manage to get the enchantment via Enchanting table.

[enchantment]
	#The rarity of the enchantment
	#Allowed Values: COMMON, UNCOMMON, RARE, VERY_RARE
	rarity = "RARE"
	#The number of le

[2022-03-02 04:42] TheIllusiveC4 commented on #49
[code]

Setting this property to `true` makes it unavailable from the enchanting table. As an example, Mending is also considered a treasure enchantment.

[2022-03-02 04:42] #49 closed, assigned to TheIllusiveC4

[2022-03-02 13:29] SheroxGG commented on #49
Got it! Thanks a lot! I thought that option would make it appear on chest aswell!

[2022-03-02 21:11] TheIllusiveC4 commented on #49
That would be the `isLootable` option, which you have as `true` already so it should work as-is for chest loot.

[2022-04-08 13:52] Vilkx opened #50 "[Bug]: Auto Active"
### Minecraft Version

1.16.5

### What happened?

Veinminer is always active and will destroy everything. i went into the config of my server but i have no option to change the activation method there is no line even showing a activation method in the config. My server is using the better minecraft modpack

### How do you trigger this bug?

1.Mining
2.
3.
...

### Loader

Forge

### Loader Versio

[2022-04-08 21:21] TheIllusiveC4 commented on #50
As described here on the [wiki page](https://github.com/TheIllusiveC4/VeinMining/wiki/Configuration#configuring-activation-method), the activation method is in the client-side config located in your client's config folder. The file is called `veinmining-client.toml`, and you can change the activation method there. Also, to be clear, the vein mining behavior by default can be turned off while you c

[2022-04-08 21:21] #50 closed, assigned to TheIllusiveC4

[2022-05-01 09:03] MinnieMagma opened #51 "[Bug]:"
### Minecraft Version

1.18.1

### What happened?

cant find the config file in defaultconfig and config

### How do you trigger this bug?

1.
2.
3.
...

### Loader

Forge

### Loader Version

Forge - 40.0.34

### Mod Version

veinmining-forge-1.18.2-0.18

### Relevant Log Outputs

![image](https://user-images.githubusercontent.com/104714626/166139220-136eba8f-cf76-4d94-a347-2f7cfc02a725.png)
![im

[2022-05-01 19:59] TheIllusiveC4 commented on #51
The config file is in your world folder's `serverconfig` folder.

[2022-05-01 19:59] #51 closed, assigned to TheIllusiveC4

[2022-05-14 23:11] ghost opened #52 "[Bug]: I can't edit the activation method"
### Minecraft Version

1.17.1

### What happened?

Whenever i use a tool with the vein mine enchantment while standing it activates, when crouching it doesn't.
I tried looking for config option in the veinmining-server.toml file, but it doesn't exist. I have the option to choose a keybind in controls, but it doesn't seem to work either.
This is my current config:
[enchantment]
	#Whether or not thi

[2022-05-15 04:24] TheIllusiveC4 commented on #52
As described [here](https://github.com/TheIllusiveC4/VeinMining/wiki/Configuration#configuring-activation-method), the correct config file that you're looking for is `veinmining-client.toml` in your instance's `config` folder.

[2022-05-15 04:24] #52 closed, assigned to TheIllusiveC4

[2022-06-21 09:35] V1ncentLiu opened #54 "[Bug]: other type of blocks are not listed for configuration"
### Minecraft Version

1.18.1

### What happened?

    Trying to add the corresponding blocks of minerals(i.e. iron blocks, diamond blocks etc.) into the whitelist, and none of the 'combination' seems to work.
    What are the names for the blocks in the vanilla Minecraft? I would like to know the following block's name to add to the configuration:
1. All the blocks of the minerals(iron, gold, cop

[2022-06-21 21:23] TheIllusiveC4 commented on #54
[code]

I'm pretty sure that the problem here is that these tags, other than `forge:ores`, do not exist by default so they're not doing anything.

As for the actual block names, rather than tell you each one individually, you can easily find any block or item name yourself in-game. While in-game, press F3+H to activate advanced tooltips. Then you will be able to see the registry name of any block

[2022-06-21 21:23] #54 closed, assigned to TheIllusiveC4

[2022-06-24 13:13] V1ncentLiu commented on #54
Is there a catchall name for these blocks just like `#forge:ores` (`#forge:blocks` for example) ?

[2022-06-25 10:23] TheIllusiveC4 commented on #54
Try `#forge:storage_blocks`. That seems like it might be what you're looking for.

[2022-07-25 14:42] Sammcb opened #58 "[Feature]: Add project to modrinth.com"
### What is the new feature or improvement?

Hi, would it be possible for you to add this mod to [modrinth](https://www.modrinth.com)?

Modrinth is an open source alternative to CurseForge and offers a great API for users to interact with mods and modpacks. I am building a script to help manage modpacks that uses the modrinth API. I really like this mod and would love to see it on Modrinth so I ca

[2022-08-11 12:50] DerekM07 opened #59 "[Bug]: Enchantment only available on default items; config ignored"
### Minecraft Version

1.16.5

### What happened?

Applicable items list in config is being ignored (whether in server config folder or defaultconfigs; attempted both). I downgraded to 0.12 to make sure I wasn't doing something wrong and things worked as expected.

### How do you trigger this bug?

Try to apply a vein mining enchanted book to a quark pickarang at an anvil. Also tried adding minecr

[2022-08-11 13:28] DerekM07 opened #60 "[Feature]: Make MaxBlocksPerLevel account for the source block"
### What is the new feature or improvement?

Or in other words:

Assuming 4 per level:
Levels would drop: 4, 8, 12, etc.
Instead of: 5, 9, 13, etc.

Feels more intuitive to balance from the reward. I was a little confused when I first vein-mined exactly 51 stone.

[2022-08-27 00:08] RichPrune opened #61 "[Bug]:"
### Minecraft Version

1.18.2

### What happened?

the "require blocks to be effective to vein mine" button doesnt work

### How do you trigger this bug?

1.put vein mine on a pick
2.toggle yes on the option
3.still be able to vein mine dirt
...

### Loader

Fabric

### Loader Version

.14.9

### Mod Version

0.0.13

### Relevant Log Outputs

_No response_

[2022-08-28 07:04] TheIllusiveC4 commented on #61
This is the intended behavior. By "effective", it means tools that are able to yield drops from the block. A pickaxe can still harvest dirt from dirt blocks, so it still works. However, for example, a stone pickaxe cannot harvest Redstone Ore and it will not vein mine those blocks.

[2022-08-28 07:04] #61 closed, assigned to TheIllusiveC4

[2022-09-01 11:27] #59 closed, assigned to TheIllusiveC4

[2022-09-01 11:51] #60 closed, assigned to TheIllusiveC4

[2022-09-16 18:33] Rafcioff15 opened #62 "[Bug]: Crash on 1.19.2"
### Minecraft Version

1.19.2

### What happened?

Server and client wont start with new 1.19.2 version vein mining

### How do you trigger this bug?

1.
2.
3.
...

### Loader

Forge

### Loader Version

Forge 43.1.25

### Mod Version

Vein mining 1.19.2

### Relevant Log Outputs

Crash Report UUID: d0aa733b-75be-4687-906f-59d946b4070e
	FML: 43.1
	Forge: net.minecraftforge:43.1.16[19:15:39] [main/

[2022-09-16 21:10] TheIllusiveC4 commented on #62
Please show the full crash log.

[2022-09-16 23:56] Rafcioff15 commented on #62
[crash-2022-09-16_20.15.05-fml.txt](https://github.com/illusivesoulworks/veinmining/files/9590556/crash-2022-09-16_20.15.05-fml.txt)

[2022-09-17 02:40] #62 closed, assigned to TheIllusiveC4

[2022-09-17 02:53] Baggytrousers27 commented on #62
Was the conflict with comforts?

Edit: Nvm saw the changelog.

[2022-09-19 22:54] Thelegendking opened #63 "[Bug]: Crashing on Fabric with the latest version of mod"
### Minecraft Version

1.19.2

### What happened?

It just crashed when starting the game. When I remove this mod crash no longer happens so I'm 100% sure its because of this mod.

### How do you trigger this bug?

1.Open the game
2.Started loading in Mojang screen for second
3.Then crashed
...

### Loader

Fabric

### Loader Version

Fabric - 0.14.9 w/ Fabric API 0.61.0+1.19.2

### Mod Version

[2022-09-22 08:29] #63 closed, assigned to TheIllusiveC4

[2022-09-22 13:03] Thelegendking opened #64 "Crash on 1.19.2 fabric again"
### Minecraft Version

1.19.2

### What happened?

Latest build of mod crashed again on 1.19.2 fabric the same way I previously reported 1 or 2 days ago, I also tried to launch the mod by deleting previous config file so that it maybe the reason crash was happening because of old config but no it still crashed.

I understand the mod is in beta so crashes are obvious unless I have a mod that is con

[2022-09-22 21:12] TheIllusiveC4 commented on #64
This is a different crash from FerriteCore and it doesn't seem to be related to Vein Mining. Does it stop crashing if you remove either mod?

Also, it seems like you have FerriteCore 4.2.1 which is listed as for 1.18.2 even though you're on 1.19.2. So try updating that mod and see if that resolves the crash.

[2022-09-22 21:54] Thelegendking commented on #64
Okay so I redownloaded the latest FerriteCore 5.0.0 and launched it with Vein Mining and it crashed again but when I removed the FC mod it didn't crashed.

And when I remove VM mod and launched with FC mod it doesn't crash... also for some reason FC's version is different in game as you can see here I hope :
![Ferrite](https://user-images.githubusercontent.com/89863459/191857809-a8eb4bc5-4fe2-4754

[2022-09-22 21:56] Thelegendking commented on #64
It seems there is a compatibility problem with them, they seem to run perfectly fine when only one of these two mods (FerriteCore & VeinMining) are in modpack.

[2022-09-23 02:30] TheIllusiveC4 commented on #64
Hm, weird issue. I can reproduce this, I just don't know what's causing this to happen between these two mods. I'll investigate this a bit.

[2022-09-23 04:41] TheIllusiveC4 commented on #64
For now, while I investigate this, I've found that a suitable workaround is to go into the `config` folder, and edit `ferritecore.mixins.properties` so that `modelResourceLocations = false`. This will allow the game to run without crashing when both mods are together.

[2022-09-23 08:51] Thelegendking commented on #64
Its okay take your time I would rather wait for the new VM build, I try to stay away from performance mod's config files as much as I can who knows that might cause some performance issues you know.

[2022-09-24 02:50] CobyPruder opened #65 "[Bug]: veinmining.json5 is not generating in config"
### Minecraft Version

1.19.2

### What happened?

veinmining.json5 isn't generating in my config folder, but the 3 .toml files for the forge version are. I have the cloth config api installed.

### How do you trigger this bug?

1.installed cloth config api
2.checked config folder
3.
...

### Loader

Fabric

### Loader Version

fabric .14.9 fabric api 4.11

### Mod Version

1.0.0-beta.3+1.19.2.jar

[2022-09-24 02:50] CobyPruder commented on #65
thank you in advance :~)

[2022-09-24 18:54] TheIllusiveC4 commented on #65
This is working as intended. 1.19.2 on Fabric has toml configuration files, same as Forge now.

[2022-09-24 18:54] #65 closed, assigned to TheIllusiveC4

[2022-09-24 20:06] AHilyard opened #66 "[Bug]: Mixin incompatibility with Prism"
### Minecraft Version

1.19.2

### What happened?

When this mod is installed alongside Prism in a Fabric 1.19.2 instance, somehow one of Prism's mixins is skipped without any sort of warning or error.  This is the mixin in question: https://github.com/AHilyard/Prism/blob/1.19-fabric/src/main/java/com/anthonyhilyard/prism/mixin/TextColorMixin.java
This mixin adds an interface to the TextColor clas

[2022-09-24 20:44] TheIllusiveC4 commented on #66
I also suspect this, as I needed to investigate a very similar issue https://github.com/illusivesoulworks/veinmining/issues/64, however I have yet to discover any useful results. Attempts to isolate Fabric ASM into a test mod and re-implementing similar code that I use for Vein Mining does _not_ result in a crash, which is confusing to me because I have no idea what else it could possible be about

[2022-09-25 11:31] #64 closed, assigned to TheIllusiveC4

[2022-09-25 11:31] #66 closed, assigned to TheIllusiveC4

[2022-09-25 11:39] TheIllusiveC4 commented on #66
I ended up just removing Fabric ASM. Although this might cause some minor inconsistencies when other mods try and inspect the Vein Mining enchantment, I don't expect this to result in any significant issues and I, for now, don't see a viable alternative.

It's definitely _something_ to do with Fabric ASM because that was the only thing I changed and the new build runs fine with both mods that caus

[2022-09-25 21:10] AHilyard commented on #66
Wonderful, thank you for looking into this @TheIllusiveC4.  Interestingly, I've found that other mods that are adding enchantment categories via Fabric ASM are encountering crashes as well (https://github.com/CrimsonDawn45/Fabric-Shield-Lib/issues/82), which indicates to me either a problem with Fabric ASM itself or just poor documentation on their part.

[2022-09-30 12:47] DaFuqs opened #67 "[Bug]: Not working with undestructible tools"
### Minecraft Version

1.18.2

### What happened?

Using Vein mining with a tool without durability (such as an unbreakable pickaxe with a max durability of 0, but set to be not damageable) does not work

### How do you trigger this bug?

Using Vein mining with a tool without durability

### Loader

Fabric

### Loader Version

0.14.9

### Mod Version

veinmining-fabric-0.0.14-1.18.2

### Relevant

[2022-10-04 21:10] staviq opened #68 "[Bug]: crash while starting the game"
### Minecraft Version

1.19.2

### What happened?

Crash while loading.

I'm trying to add this mod to the medieval mc modpack.

log: https://mclo.gs/JsyU3BO

### How do you trigger this bug?

1. Install mod
2. Start the game
3. Crash

### Loader

Fabric

### Loader Version

Fabric Loader 0.14.19

### Mod Version

veinmining-fabric-1.0.0-beta.4+1.19.2.jar

### Relevant Log Outputs

https://mclo.gs

[2022-10-05 08:47] #67 closed, assigned to TheIllusiveC4

[2022-10-05 08:47] #68 closed, assigned to TheIllusiveC4

[2022-10-06 03:44] #28 closed, assigned to TheIllusiveC4

[2022-10-06 03:45] #34 closed, assigned to TheIllusiveC4

[2022-10-06 03:45] #39 closed, assigned to TheIllusiveC4

[2022-10-06 03:45] #41 closed, assigned to TheIllusiveC4

[2022-10-06 03:46] #45 closed, assigned to TheIllusiveC4

[2022-10-07 01:40] Touch-Night opened #69 "[Bug]: Crash on Quilt 1.19.2 server"
### Minecraft Version

1.19.2

### What happened?

Server failed to launch
Error loading class: draylar/magna/api/MagnaTool (java.lang.ClassNotFoundException: draylar/magna/api/MagnaTool)

### How do you trigger this bug?

1. install veinmining server side
2. launch server

### Loader

Fabric

### Loader Version

Quilt-0.17.5-beta2/quilted-fabric-api-4.0.0-beta.12+0.61.0-1.19.2

### Mod Version

v

[2022-10-07 03:58] TheIllusiveC4 commented on #69
This is not a Vein Mining error, at least not from this:

It looks like some mod is trying to access a library that you don't have installed, probably called Magna? If you don't have Magna installed, then install it. Or find the mod that is trying to access this library and see if there are any instructions for doing so.

If you attach the full crash log then that might provide further information

[2022-10-07 03:58] #69 closed, assigned to TheIllusiveC4

[2022-10-12 20:43] michelle-blackmore opened #70 "[Bug]: "Require effective tool" does not work"
### Minecraft Version

1.18.2

### What happened?

"Require effective tool" does not work - I assume the intended effect is for tools to only be able to vein-mine blocks they are intended for (eg. axe for wood), however I can use my vein mining pickaxe to veinmine logs.

### How do you trigger this bug?

Enable "Require effective tool" in the config for the world you want to play. For me, I did it

[2022-10-12 21:49] TheIllusiveC4 commented on #70
This is not a bug, at least not from what you've described. Require Effective Tool means tools that are able to harvest the block's drops. For instance, a Stone Pickaxe enchanted with Vein Mining cannot harvest Redstone Dust from a Redstone Ore. When Require Effective Tool is on, it will not proceed to vein mine all of the connected Redstone Ore. When it is off, it will.

[2022-10-12 21:49] #70 closed, assigned to TheIllusiveC4

[2022-11-05 04:39] MecaZillaFox opened #71 "Cannot find enchantment "name" for Enchancment compatibility"
### Minecraft Version

1.19.2

### What happened?

Simply put, I can't find the code name (like minecraft:looting) for the enchantment so that I can allow it through the configs of the Enchancment mod (since that mod default disables all enchantments not included in the mod).

May I kindly as what the name is and where I could find it in the future?

### How do you trigger this bug?

1.
2.
3.
...

[2022-11-05 06:53] #71 closed, assigned to TheIllusiveC4

[2022-11-05 07:48] TheIllusiveC4 commented on #71
It seems you've closed this on your own, did you find what you were looking for?

For future reference to you or anyone else looking at this issue, it's `veinmining:vein_mining`.

To find it, you can always look at the [language file](https://github.com/illusivesoulworks/veinmining/blob/1.19.x/common/src/main/resources/assets/veinmining/lang/en_us.json):
[code]
The name is always the `enchantment`